<div class="sidebar">
  <div>
    <h3>Channels</h3>
    <ul id="channelsUl">
      <li id="create">
        <a href="/channels/create">Create channel</a>
      </li>
    </ul>
  </div>
  <div>
    <h3>Users</h3>
    <ul id="usersUl">
    </ul>
  </div>
</div>