<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= channel.name %></title>
</head>
<body>
  <h1><%= channel.name %></h1>
  <h2><%= channel.description %></h2>
  <h3>Posts:</h3>
  <form method="POST" action="/channel/<%= channel._id %>">
    <input type="text" name="by" placeholder="Username"><br>
    <textarea name="content" cols="30" rows="7" placeholder="Post"></textarea><br>
    <input type="submit" value="Post">
  </form>
</body>
</html>