<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <h1>Homepage</h1>
    <form method="post" action="/create">
      <input type="text" name="name" placeholder="Channel name here" /><br />
      <input
        type="text"
        name="description"
        placeholder="Channel description here"
      /><br />
      <span>Private</span><input type="checkbox" name="private" /><br />
      <input type="submit" value="Create Channel" />
    </form>
    <h2>Channels:</h2>
    <ul>
      <% channels.forEach( channel => { %>
      <li><%= channel.name %></li>
      <% }) %>
    </ul>
  </body>
</html>
