<h1>Homepage</h1>
<form method="post" action="channels/create">
  <input type="text" name="name" placeholder="Channel name here" /><br />
  <input
    type="text"
    name="description"
    placeholder="Channel description here"
  /><br />
  <span>Private</span><input type="checkbox" name="private" /><br />
  <input type="submit" value="Create Channel" />
</form>
<h2>Channels:</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Delete</th>
  </tr>
  <% channels.forEach( channel => { %>
  <tr>
    <td><a href="/channels/<%= channel._id %>"><%= channel.name %></a></td>
    <td><a href="/delete/<%= channel._id %>">X</a></td>
  </tr>
  <% }) %>
</table>
